.categories {
  &__box {
    &--img {
      img {
        width: 100%;
        height: 318px;
        object-fit: cover;
        object-position: center;
        // transition-delay: 2s;
        // visibility: visible;
        // opacity: 1;
        // transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        // transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
      }
    }
    &--text {
      h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 100;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .categories {
    display: flex;
    flex-direction: row;
    &__box {
      &--img {
        img {
          border: 1px solid white;
          height: 33.5vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
}