.shop {
  .ReactStickyHeader_root {
    box-sizing: inherit;
  }
  .ReactStickyHeader_root * {
    box-sizing: inherit;
  }
 
  &__box {
    font-family: "Century Gothic", sans-serif;
    padding-top: 13vw;

    &--text {
      color: #545454;
      background-color: #f5eddc;
      padding: 40px;
      width: 100%;
          display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      #view {
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid #545454;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        padding: 10px 0px;
      }
    }
    &--img {
      img {
        height: 44vw;
        width: 100%;
      }
    }
  }
}

@media only screen and(min-width: 768px) {
  .shop {
    &__box {
      display: flex;
      padding-top: 6vw;
      #view {
        width: 100%;
      }
      &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &--img {
        img {
          height: 34vw;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and(min-width: 1024px) {
    .shop {
    &__box {
      padding-top: 0vw;
    }
    #view {
        width: 60%;
      }
  }
}