.common-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  
  .earings {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

    &__thumb {
      img {
        width: 99%;
        height: 500px;
        opacity: 0.7;
        transition: all .5s ease-in-out;
      }     
      img:hover{
        opacity: 1;
      } 
  }

    &__text {
      padding: 20px 0px;
      h5 {
        font-weight: 400;
        margin: 0px;
        padding: 0px 0px 10px 0px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .common-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  }
}