@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  letter-spacing: 0.5px;
}

* .reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

* .reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.header.white {
  -webkit-transition: 2s;
  transition: 2s;
  background-color: whitesmoke;
}

.header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  color: #545454;
}

.header--container__left {
  display: none;
}

.header--container__right {
  display: none;
}

.header--container .menu-icon {
  color: whitesmoke;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-100%, 60%);
          transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.header--container .menu-bar {
  color: #545454;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-100%, 60%);
          transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.header--container .fa-times {
  color: #545454;
  font-size: 1.8rem;
}

.header--container #logo {
  height: 42px;
  margin-right: 2vw;
}

.header--container__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: inherit;
  color: whitesmoke;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header--container__nav-menu.active {
  padding-top: 20px;
  background: whitesmoke;
  color: #545454;
  font-size: 15px;
  font-weight: 600;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.header--container__nav-item__nav-links {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: table;
}

@media screen and (min-width: 768px) {
  .header--container {
    padding: 15px 34px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header--container__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: whitesmoke;
  }
  .header--container__left i {
    padding: 0px 7px;
  }
  .header--container__right {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: whitesmoke;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header--container__right i {
    padding: 0px 7px;
  }
  .header--container__right--searchBar {
    max-width: 150px;
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    color: #545454;
    border: solid 1px #f5f5f5;
    -webkit-transition: width 2s transform 2s;
    transition: width 2s transform 2s;
  }
  .header--container__right input:focus {
    outline: none;
  }
  .header--container__right .fa-search, .header--container__right .fa-shopping-cart {
    cursor: pointer;
  }
  .header--container__right--searchBar:focus {
    border-color: #545454;
  }
  .header--container .fa-bars {
    display: none;
  }
  .header--container__nav-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    color: whitesmoke;
    position: inherit;
    font-size: 15px;
  }
  .header--container__nav-item {
    margin-right: 30px;
    list-style-type: none;
  }
  .header--container__nav-item__nav-links {
    text-decoration: none;
    color: inherit;
    padding: 0;
  }
  .header--container .black {
    color: #545454;
    -webkit-transition: 2s;
    transition: 2s;
  }
  .header--container #logo {
    margin-right: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  .header--container {
    margin: 0px 120px;
  }
}

.hero {
  background-image: url("https://cdn.shopify.com/s/files/1/0081/5654/5088/files/dots_1440x.jpg?v=1543973418%22%20alt=%22Hand%20Fabricated%22%20class=%22responsive-wide-image%22");
  height: 822px;
  background-position: center center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer {
  background-position-x: right;
  background-position-y: center;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/news-tall_3000x.jpg?v=1556134325);
  background-size: cover;
  color: #545454;
  padding: 40px 0px;
}

.footer__space {
  padding: 2vw 0vw;
}

.footer__myfooter--title {
  margin: 0px 16px 24px 16px;
}

.footer__myfooter--images {
  margin: 0 16px;
}

.footer__myfooter--images .fab {
  color: #545454;
  margin-right: 10px;
}

.footer__text {
  margin: 32px 16px 24px 16px;
  font-size: 0.9em;
}

.footer__text a {
  text-decoration: none;
  color: #545454;
}

.footer__text #thick {
  font-family: myDemi;
  margin: 1em 0em;
}

.footer__text #slim {
  margin: 1em 0em;
}

.footer .copyright {
  margin: 32px 16px 24px 12px;
  width: 67%;
  font-size: 0.9em;
}

@media screen and (max-width: 767px) {
  .footer__myfooter--logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0px 0px 40px 0px;
  }
  .footer__myfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7vw 34px 4vw;
  }
  .footer__myfooter--title {
    display: none;
  }
  .footer__myfooter--images {
    padding-right: 81px;
  }
  .footer__myfooter--images .fab {
    padding: 22px 0px 0px 16px;
    height: 24px;
  }
  .footer__myfooter--logo img {
    justify-self: flex-end;
    height: 58px;
    margin-top: 0px;
    margin-left: auto;
    padding-top: 15px;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 24px;
  }
  .footer__text--left {
    margin-right: 89px;
    margin-left: 8px;
  }
  .footer .copyright {
    margin: 24px;
    width: 69%;
  }
}

@media screen and (min-width: 1024px) {
  .footer__myfooter {
    margin: 0px 120px;
  }
  .footer__myfooter .fab {
    margin-left: 16px;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 53%;
    margin: 32px 180px 24px 180px;
  }
  .footer__text #thick {
    margin: 16px 0px;
  }
  .footer__text #slim {
    margin: 16px 0px 16px 0px;
  }
  .footer .copyright {
    margin: 24px 0px 0px 180px;
    width: 69%;
  }
}

.contact {
  font-family: "Century Gothic", sans-serif;
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h3 {
  font-size: 30px;
  font-weight: 600;
}

.contact img {
  width: 42%;
  margin: 10px auto;
  height: 197px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact h5 {
  font-size: 20px;
  font-weight: 400;
}

.contact__form {
  max-width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.17em;
}

.contact__form input {
  border: 1px solid #efeeec;
  font-size: 0.95em;
  border-radius: 0px;
  width: 34vw;
  padding: 9px 16px;
  margin: 7px 0;
  background: rgba(255, 255, 255, 0);
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact__form--text {
  border: 1px solid #efeeec;
  font-size: 0.95em;
  border-radius: 0px;
  width: 34vw;
  padding: 9px 16px;
  margin: 7px 0;
  background: rgba(255, 255, 255, 0);
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact__form #optional {
  margin: 10px 0px;
}

.contact__form--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form--checkbox label {
  margin: 16px 0px;
  text-align: left;
}

.contact__form--checkbox label #subscription {
  width: auto;
  margin: 4px 10px 4px 0px;
}

.contact__form--fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 0px;
}

.contact__form--fieldset label {
  margin: 10px 0px 23px 0px;
}

.contact__form--fieldset select {
  padding: 9px 28px 9px 10px;
  margin: 16px 0px;
  border-radius: 0px;
  border: 1px solid #efeeec;
  font-size: 0.95em;
  width: 32vw;
  background: rgba(255, 255, 255, 0);
  font-weight: 400;
  font-style: normal;
}

.contact__form--submit {
  margin: 17px 0px 32px 0px;
}

.contact__form--submit #btn {
  line-height: 1.5;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  display: inline-block;
  font-size: 1.17em;
  width: 34vw;
  height: 48px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
  border-radius: 0px;
  font-weight: 400;
  cursor: pointer;
  background: #b1945c;
  color: #fff;
}

.shop .ReactStickyHeader_root {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.shop .ReactStickyHeader_root * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.shop__box {
  font-family: "Century Gothic", sans-serif;
  padding-top: 13vw;
}

.shop__box--text {
  color: #545454;
  background-color: #f5eddc;
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__box--text #view {
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #545454;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  padding: 10px 0px;
}

.shop__box--img img {
  height: 44vw;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .shop__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 6vw;
  }
  .shop__box #view {
    width: 100%;
  }
  .shop__box--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shop__box--img img {
    height: 34vw;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .shop__box {
    padding-top: 0vw;
  }
  .shop #view {
    width: 60%;
  }
}

.categories__box--img img {
  width: 100%;
  height: 318px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.categories__box--text h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

@media only screen and (min-width: 750px) {
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .categories__box--img img {
    border: 1px solid white;
    height: 33.5vw;
  }
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__One {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__One--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f9fa;
  min-height: 300px;
  padding: 50px;
}

.collection__One--text--type h2,
.collection__One--text--type p {
  margin-top: 2vw;
  text-align: center;
  color: #282c2e;
}

.collection__One--link {
  width: 100%;
  min-height: 300px;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/bluedot_1512x.jpg?v=1543973451);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__One--link--type {
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__One--link--type span,
.collection__One--link--type img {
  margin: 25px 0px;
  color: #545454;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__One--link--type span {
  padding: 15px 28px;
}

.collection__One--link--type img {
  padding: 15px 28px 15px 15px;
  width: 20px;
  height: 20px;
}

.collection__Two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__Two—-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f9fa;
  min-height: 300px;
  padding: 50px;
}

.collection__Two—-text--type h2,
.collection__Two—-text--type p {
  margin-top: 2vw;
  text-align: center;
  color: #282c2e;
}

.collection__Two—-link {
  width: 100%;
  min-height: 300px;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/blazer2_1512x.jpg?v=1543973460);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__Two—-link--type {
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__Two—-link--type span {
  margin: 25px 0px;
  color: #545454;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px;
}

@media only screen and (min-width: 768px) {
  .collection__One {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .collection__One--text {
    width: 50%;
    padding: 50px 0px;
  }
  .collection__One--link {
    min-height: 400px;
    width: 50%;
  }
  .collection__Two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .collection__Two—-text {
    width: 50%;
    padding: 50px 0px;
  }
  .collection__Two—-link {
    min-height: 400px;
    width: 50%;
  }
}

.common-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.common-box .earings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.common-box .earings__thumb img {
  width: 99%;
  height: 500px;
  opacity: 0.7;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.common-box .earings__thumb img:hover {
  opacity: 1;
}

.common-box .earings__text {
  padding: 20px 0px;
}

.common-box .earings__text h5 {
  font-weight: 400;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

@media screen and (min-width: 768px) {
  .common-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.newsNav {
  width: 100%;
  padding-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsNav--title {
  margin-bottom: 2vw;
}

.newsNav ul {
  display: none;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.news__one {
  margin: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.news__one img {
  width: 100%;
}

.news__one--text {
  padding: 10px;
}

.news__one--text--title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem 0rem;
}

.news__one--text--meta {
  margin: 1.2rem 0rem;
  font-weight: 100;
}

.news__one--text--excerpt {
  display: block;
  margin: 2rem 0rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.15em;
  line-height: 1;
}

.news__one--text a {
  text-decoration: none;
}

.news__one--text a:focus {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .newsNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .newsNav--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2vw 0vw;
  }
  .newsNav--list a {
    color: #545454;
    text-decoration: none;
    margin: 0px 10px;
  }
  .news__one {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .news__one {
    width: 30%;
  }
}
/*# sourceMappingURL=Style.css.map */