* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  letter-spacing: 0.5px;
}

@import './components/Nav/nav';
@import './components/Hero/hero';
@import './components/Footer/footer';
@import './components//Contact/contact';
@import './pages/shop';
@import './components/Categories/categories';
@import './components/Collections/collection';
@import './components/Parents//jewelries';
@import './components/Parents/news';