* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.header.white {
  -webkit-transition: 2s;
  transition: 2s;
  background-color: whitesmoke;
}

.header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  color: #545454;
}

.header--container__left {
  display: none;
}

.header--container__right {
  display: none;
}

.header--container .menu-icon {
  color: whitesmoke;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-100%, 60%);
          transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.header--container .menu-bar {
  color: #545454;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-100%, 60%);
          transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.header--container .fa-times {
  color: #fff;
  font-size: 1.8rem;
}

.header--container #logo {
  height: 52px;
}

.header--container__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: inherit;
  color: whitesmoke;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header--container__nav-menu.active {
  padding-top: 20px;
  background: whitesmoke;
  color: #545454;
  font-size: x-large;
  font-weight: 600;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.header--container__nav-item__nav-links {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: table;
}

@media screen and (min-width: 768px) {
  .header--container {
    padding: 15px 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header--container__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: whitesmoke;
  }
  .header--container__left i {
    padding: 0px 7px;
  }
  .header--container__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: whitesmoke;
  }
  .header--container__right i {
    padding: 0px 7px;
  }
  .header--container .fa-bars {
    display: none;
  }
  .header--container__nav-menu {
    position: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 0;
    color: whitesmoke;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header--container__nav-item__nav-links {
    text-decoration: none;
    color: inherit;
  }
}

.hero {
  background-image: url("https://cdn.shopify.com/s/files/1/0081/5654/5088/files/dots_1440x.jpg?v=1543973418%22%20alt=%22Hand%20Fabricated%22%20class=%22responsive-wide-image%22");
  height: 822px;
  background-position: right 44% bottom 52%;
}

.footer {
  background-position-x: right;
  background-position-y: center;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/news-tall_3000x.jpg?v=1556134325);
  background-size: cover;
  color: #545454;
  padding: 40px 0px;
  margin-top: 309px;
}

.footer__myfooter--title {
  margin: 0px 16px 24px 16px;
}

.footer__myfooter--images {
  margin: 0 16px;
}

.footer__myfooter--images .fab {
  color: #545454;
  margin-right: 10px;
}

.footer__text {
  margin: 32px 16px 24px 16px;
  font-size: 0.9em;
}

.footer__text a {
  text-decoration: none;
  color: #545454;
}

.footer__text #thick {
  font-family: myDemi;
  margin: 1em 0em;
}

.footer__text #slim {
  margin: 1em 0em;
}

.footer .copyright {
  margin: 32px 16px 24px 12px;
  width: 67%;
  font-size: 0.9em;
}

@media screen and (max-width: 767px) {
  .footer__myfooter--logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0px 0px 40px 0px;
  }
  .footer__myfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }
  .footer__myfooter--title {
    display: none;
  }
  .footer__myfooter--images {
    padding-right: 81px;
  }
  .footer__myfooter--images .fab {
    padding: 22px 0px 0px 16px;
    height: 24px;
  }
  .footer__myfooter--logo img {
    justify-self: flex-end;
    height: 58px;
    margin-top: 0px;
    padding: 20px 0px 0px 0px;
    margin-left: auto;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 24px;
  }
  .footer__text--left {
    margin-right: 89px;
    margin-left: 8px;
  }
  .footer .copyright {
    margin: 24px;
    width: 69%;
  }
}

@media screen and (min-width: 1440px) {
  .footer__myfooter {
    margin: 0px 180px;
  }
  .footer__myfooter .fab {
    margin-left: 16px;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 53%;
    margin: 32px 180px 24px 180px;
  }
  .footer__text #thick {
    margin: 16px 0px;
  }
  .footer__text #slim {
    margin: 16px 0px 16px 0px;
  }
  .footer .copyright {
    margin: 24px 0px 0px 180px;
    width: 69%;
  }
}
/*# sourceMappingURL=Style.css.map */