* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  letter-spacing: 0.5px;

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
}

@import './components/Nav/nav';
@import './components/Hero/hero';
@import './components/Footer/footer';
@import './components/Form/contact';
@import './pages/shop';
@import './components/Categories/categories';
@import './components/Collections/collection';
@import './components//Parents/jewelries';
@import './components/Parents/news';